<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<body>
<form action="/lotr-webshop/registration/custom-login" method="post" class="login-form">
    <div class="form-group"><label> Username: <input type="text" name="username" class="form-control"/> </label></div>
    <div class="form-group"><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
    <div class="form-action">
        <div class="form-group"><input type="submit" value="Sign In" class="btn btn-primary"/></div>
        <a href="/lotr-webshop/registration/forgot-password" class="forgot-password">Forgot Password?</a>
    </div>
</form>
</body>
</html>