<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
        img {
            width: 60%;
            height: auto;
        }
    </style>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <img src="/images/cancelPic.png" alt="Error">
    <p id="errorText" style="font-size: 20px; font-weight: bold;">Default error message</p>
</div>
<script>
    function getQueryParam(name) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(window.location.href);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    var errorMessage = getQueryParam('message') || 'An error occurred.';
    document.getElementById('errorText').textContent = errorMessage;

    setTimeout(function() {
        var referrer = document.referrer;
        var redirectUrl = "/lotr-webshop/registration/custom-login";

        function getQueryParamFromUrl(url, paramName) {
            var query = url.split('?')[1];
            var params = query ? query.split('&') : [];
            for (var i = 0; i < params.length; i++) {
                var pair = params[i].split('=');
                if (decodeURIComponent(pair[0]) === paramName) {
                    return decodeURIComponent(pair[1]);
                }
            }
            return null;
        }

        if (referrer.includes("/lotr-webshop/registration/reset-password")) {
            var email = getQueryParamFromUrl(referrer, "email");
            if (email) {
                redirectUrl = "/lotr-webshop/registration/reset-password?email=" + email;
            }
        } else if (referrer.includes("/login")) {
            redirectUrl = "/lotr-webshop/registration/custom-login";
        }

        window.location.href = redirectUrl;
    }, 4000);

</script>
</body>
</html>