<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go To Your Email</title>
    <style>
        img {
            width: 60%;
            height: auto;
        }
    </style>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <img src="/images/email_orc.png" alt="Go To Your E-mail Account">
    <p id="emailText" style="font-size: 20px; font-weight: bold;">Password reset request sent. Check your e-mails.</p>
</div>
<script>
    setTimeout(function() {
        window.location.href = "/lotr-webshop/registration/custom-login";
    }, 3000);
</script>
</body>
</html>