<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<body>
<form action="/lotr-webshop/registration/submit-new-password" method="post">
    <input type="hidden" name="email" th:value="${email}" />
    <div class="form-group">
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="newPassword" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirmNewPassword" class="form-control" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>
</body>
</html>