<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<body>
<form action="/lotr-webshop/registration/request-reset-password" method="post" class="login-form">
    <div class="form-group">
        <label for="email">Enter your Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>
</body>
</html>