<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
        img {
            width: 60%;
            height: auto;
        }
    </style>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <img src="/images/victory_orc.png" alt="Success">
    <p id="errorText" style="font-size: 20px; font-weight: bold;">You have successfully changed your password. <br>You can log in now.</p>
</div>
<script>
    setTimeout(function() {
        window.location.href = "/lotr-webshop/registration/custom-login";
    }, 3000);
</script>
</body>
</html>